# ignored due to copyright concerns
txlib/*

# possible files generated during debug
.txlib_version
.qsign.pid
*.bak

# Files for release build
/releases
/CHANGELOG
/启动 QSign.sh

# System or IDE files
.DS_Store